@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    width: 55%;
    justify-content: space-evenly;
}

h1,
.titulo_cuatro {
    color: #333;
}

.nav_a:hover {
    transform: translateY(0.3rem) scale(1.1);
    border-bottom: 0.15rem solid black;
}

.boton_header:hover,
.search_a:hover,
.boton_listing:hover {
    background-color: black;
    transform: scale(1.1) translateY(0.3rem);
}

.boton_listing:hover {
    color: #fff;
}

.container {
    border: 2px solid red;
}

.logo {
    max-height: 25vh;
}

.decoracion_a {
    text-decoration: none;
}

.nav_a {
    color: black;
}

.menu_icono {
    display: none;
}

.nav_a,
.boton_header,
.search_a,
.boton_listing {
    transition: all 0.3s ease-in-out 0.1s;
}

.home_nav {
    font-weight: bold;
}

.boton_header,
.search_a {
    color: #fff;
    background-color: #3952B6;
    text-align: center;
    border-radius: 15rem;
}

.hero_container {
    display: flex;
}

.section_listing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 130vh;
}

.div_titulo_listing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    flex-grow: 1;
}

.separar_img_titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 24rem;
    padding: 1rem;
    flex-grow: 1;
}

.div_imgs_p {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
}

.listing_imgs {
    height: 35vh;
    border-radius: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

.texto_listing {
    width: 50%;
}

.listing_uno {
    background-image: url(./listing1.jpg);
}

.listing_dos {
    background-image: url(./listing2.jpg);
}

.listing_tres {
    background-image: url(./listing3.jpg);
}

.listing_cuatro {
    background-image: url(./listing4.jpg);
}

.precio_listing {
    width: 15%;
    border-radius: 25rem;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    margin: 5% 0 0 3%;
    text-align: center;
}

.listing_img_titulo {
    width: 90%;
    font-weight: bold;
}

.separar_titulo_location {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.listing_location {
    display: flex;
    padding-left: 0.2rem;
    align-items: center;
}

.text_location {
    padding-left: 0.5rem;
}

.div_search_listing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.listing_search_p {
    width: 80%;
    padding: 1rem;
}

.boton_listing {
    background-color: none;
    border: 0.2rem solid #33333398;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem 3.5rem;
    border-radius: 25rem;
    color: #111;
    font-weight: bold;
}

.section_our {
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
}

.our_img {
    border-radius: 5%;
    object-fit: cover;
}

.div_our_uno,
.div_our_dos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div_our_uno,
.div_our_dos,
.div_our_texto {
    padding: 1rem;
}

.div_our_texto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div_our_texto p{
    letter-spacing: 1rem;
}

@media (min-width:475px) {
    h1 {
        font-size: 1.5rem;
    }

    nav,
    .boton_header {
        display: none;
    }

    .container {
        justify-content: space-evenly;
    }

    .menu_icono {
        display: block;
        height: 2.5rem;
    }

    .hero_container {
        text-align: center;
        height: 85vh;
    }

    .div_hero {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .div_titulo_p {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .texto_clarito {
        color: #333333c4;
    }

    .div_input_hero {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input_hero {
        padding: 1.2rem 3rem;
        position: relative;
        border: #33333398;
        border-radius: 25rem;
        background-color: none;
    }

    .i_input {
        font-size: 1.3rem;
        position: absolute;
        left: 25%;
    }

    .search_a {
        display: none;
    }

    .hero_img {
        display: none;
    }

    .div_datos_hero {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .titulo_cuatro {
        font-size: 2rem;
    }

    .div_img_hero {
        display: none;
    }

    .div_titulo_listing {
        justify-content: center;
    }

    .texto_listing {
        display: none;
    }

    .listing_search_p {
        display: none;
    }

    .div_search_listing {
        justify-content: center;
    }

    .section_our {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        height: 145vh;
    }

    .our_img {
        width: 50vh;
    }

    .div_our_texto p,
    .titulo_our {
        display: none;
    }

}

@media (min-width:640px) {
    h1 {
        font-size: 2rem;
    }

    .texto_titulo {
        font-size: 1rem;
    }

    .boton_header,
    .search_a {
        display: block;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    .div_hero_search {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        margin: 0 auto;
    }

    .div_input_hero {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .input_hero {
        font-size: 1.1rem;
    }

    .i_input {
        font-size: 1.3rem;
        position: absolute;
        left: 22%;
    }

    .search_a {
        display: flex;
    }

    .div_datos_hero {
        flex-direction: row;
        align-items: center;
        height: 10%;
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 2.2rem;
    }

    .texto_titulo {
        font-size: 1.1rem;
    }

    .i_input {
        left: 25%;
    }

    .div_titulo_listing {
        justify-content: space-between;
    }

    .texto_listing {
        display: flex;
    }

    .div_search_listing {
        justify-content: space-around;
    }

    .listing_search_p {
        display: flex;
    }

    .div_our_uno,
    .div_our_dos {
        align-items: center;
    }

    .our_img {
        width: none;
        height: 45vh;
    }

    .div_our_texto p,
    .titulo_our {
        display: flex;
    }

}

@media (min-width:1024px) {
    nav {
        display: flex;
    }

    .logo {
        height: 10rem;
    }

    .nav_a,
    .boton_header {
        font-size: 0.8rem;
    }

    .menu_icono {
        display: none;
    }

    .div_hero {
        width: 45%;
        justify-content: space-between;
    }

    .div_titulo_p {
        height: 40%;
        text-align: left;
    }

    .texto_titulo {
        font-size: 1rem;
    }

    .div_hero_search {
        justify-content: right;
    }

    .input_hero {
        font-size: 1rem;
    }

    .i_input {
        left: 9%;
        font-size: 1rem;
        color: #333333e3;
    }

    .search_a {
        font-size: 1.2rem;
    }

    .div_datos_hero {
        justify-content: space-between;
    }

    .titulo_cuatro {
        font-size: 2rem;
    }

    .div_img_hero {
        display: flex;
        border-radius: 5%;
        overflow: hidden;
        height: 100%;
        flex-basis: 45%;
    }

    .img_hero {
        object-fit: cover;
    }

    .search_a {
        z-index: 1;
    }

    .section_our {
        flex-wrap: nowrap;
        height: 100vh;
        justify-content: space-evenly;
    }

    .div_our_uno,
    .div_our_dos {
        justify-content: space-evenly;
        align-items: baseline;
    }

    .div_our_texto {
        text-align: start;
    }

    .our_img {
        width: 100%;
    }
}

@media (min-width:1280px) {

    .nav_a,
    .boton_header,
    .texto_titulo {
        font-size: 0.9rem;
    }

    .div_datos_hero {
        width: 85%;
    }

    .i_input {
        left: 11%;
    }
}

@media (min-width:1600px) {

    .nav_a,
    .boton_header {
        font-size: 1rem;
    }

    .boton_header {
        padding: 1rem 2rem;
    }

    .div_img_hero {
        flex-basis: 45%;
    }

    .img_hero {
        flex-basis: 100%;
    }

    .i_input {
        left: 17%;
    }
}

@media (min-width:1920px) {
    nav {
        display: flex;
    }

    h1,
    h2 {
        font-size: calc(100%*3.5);
        font-weight: bold;
    }

    .nav_a,
    .boton_header,
    .texto_titulo,
    .input_hero,
    .texto_listing {
        font-size: calc(100%*1.5)
    }

    .logo {
        height: 15rem;
    }

    .nav_a {
        font-size: 1.2rem;
    }

    .menu_icono {
        display: none;
    }

    .boton_header {
        display: block;
        font-size: 1.2rem;
        padding: 1.1rem 2.4rem;
    }

    .div_hero_search {
        justify-content: space-between;
        width: 100%;
    }

    .i_input {
        left: 9%;
        font-size: 1.5rem;
    }

    .search_a {
        font-size: calc(100%*1.5);
        padding: 1.5rem 3.1rem;
    }

    .titulo_cuatro {
        font-size: calc(100%*3);
    }

    .p_titulo_cuatro {
        font-size: calc(100%*1.4);
    }

    .separar_img_titulo {
        height: 35rem;
    }

    .precio_listing {
        font-size: 1.1rem;
    }

    .listing_img_titulo {
        font-size: 2.5rem;
    }

    .location {
        font-size: 1.5rem;
    }

    .text_location,
    .listing_search_p {
        font-size: 1.2rem;
    }

    .boton_listing,
    .div_our_texto p {
        font-size: 1.3rem;
    }

    .div_our_uno,
    .div_our_dos {
        height: 80vh;
    }

    .our_img {
        height: 50vh;
    }


}